<h2>Contactate con nosotros</h2>
<div class="contacto">
    <div>
        <input type="text" placeholder="Nombre y Apellido">
        <p>Nombre</p>
    </div>
    <div>
        <input type="text" placeholder="Dirección">
        <p>Dirección</p>
    </div>
    <div>
        <input type="email" placeholder="nombre@email.com">
        <p>Correo electrónico</p>
    </div>
    <div>
        <input type="number"placeholder="Cod. de área + número">
        <p>Whatsapp</p>
    </div>
    <div>
        <textarea type="text" placeholder="Decinos que disco querés" rows="10"></textarea>
        <p>Mensaje</p>
    </div>
    <div>
        <button>Enviar</button> ver como hacer que funcione con un servicio
</div>
