
.contacto {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    margin-bottom: 30px;;
    padding: 20px;
    border: 1px solid #e42bd4c9;
    border-radius: 5px;
}