<h2>Contactate con nosotros</h2>
<div class="contacto">
        <h5> <img src="assets/img/music-house.png" class="icono-contacto">Disquería "Coplas Eternas"</h5>
        <h5><img src="assets/img/google-maps.png" class="icono-contacto">Av. Siempre Viva 1234</h5>
        <h5><img src="assets/img/gmail.png" class="icono-contacto">CoplasEternasDiscos&#64;gmail.com</h5>
        <h5><img src="assets/img/whatsapp.png" class="icono-contacto">+54 9 11 1234-5678</h5>
        <h5><img src="assets/img/facebook.png" class="icono-contacto">facebook.com/coplaseternasdiscos</h5>
        <h5><img src="assets/img/instagram.png" class="icono-contacto">&#64;coplaseternasdiscos</h5>

        
        <h5>Conectate con nosotros y contanos cual es ese disco que no te puede faltar</h5>
</div>
