.itemCarrito li {
    background-color: #8117be21;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.itemCarrito li p {
    color: #9b4d90;

}

p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-stretch: expanded;
}

.btnQuitar {
    background-color: rgba(222, 142, 248, 0.685);
    border-radius: 10px;
    margin:30px;
}

.btnQuitar:hover {
    background-color: rgba(250, 154, 154, 0.767);
    color: white;
}

.icono {
    width: 30px;
    height: 30px;
}

.btnComprar {
    background-color: #9b4d91b7;
    color: white;
    border-radius: 10px;
    margin: 30px;
}