<div>
    <h2>Carrito de compras</h2>

    <div class="carritoCompra text-center">
            @for(music of (cartList$ | async); track music.artista){
            <ul class="itemCarrito">
                <li>
                    <p> Artista: {{ music.artista }} - Album: {{ music.disco }} - Cantidad: {{ music.cantidad }}</p>
                    <button class="btnQuitar" (click)="QuitarDisco(music)"><img src="assets/img/quitar-del-carrito.png" class="icono"></button>
                </li>
            </ul>
        }
        
        <div class="total text-center">
            @if(totalDiscos >= 0) {
                <p>Total de discos: {{totalDiscos}}, Precio total: {{totalPrecio | currency}}</p>
                <button class="btnComprar" (click)="Comprar()"><img src="assets/img/bolsa-de-la-compra.png" class="icono"> Comprar</button>
            } @else {
                <p>No hay discos en el carrito.</p>
            }
        </div>
</div>