<h2>Listado de Artistas - Discos</h2>
<table class="table text-center" >
    <thead>
        <tr>
            <th scope="col">Artista</th>
            <th scope="col">Disco</th>
            <th scope="col">Año</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @for (music of music; track music.artista) {
        <tr [ngClass]="{'novedad' : music.novedad}">

            <td class="artista">{{music.artista}} <img class = "img-thumbnail" [src]="music.portada" width="150" [alt]="music.disco"></td>
            <td class ="anchoMax">{{music.disco}}</td>
            <td>{{music.anio}}</td>
            <td>{{music.precio | currency}}</td>
            @if(music.stock > 0) {
                <td>{{ music.stock }}</td>
            } @else {
                <td><span class="badge text-bg-primary">SIN STOCK</span></td>
            }    
            <td>
                <app-input-integer [(cantidad)]="music.cantidad" [max]="music.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
        </tr>
        }
    </tbody>
</table>