.barra {
    background-color: rgba(120, 70, 236, 0.178);
    padding: 10px;
}

.footer {
    background-color: rgba(120, 70, 236, 0.42);
    padding: 10px;
    text-align: center;
    width: 100%;
}
.principal {
    margin-left: 0;
}
